html,body{
  height:100%;
}
body{
/*	padding-top: 50px;*/
	font-family: 'Lustria', serif;
  background-color: black;
  color: white;
}
body p{
  font-size: 1.1em;
}

section{
  padding-top:70px;  
  padding-bottom:50px; 
  min-height:calc(100% - 1px);
}
/*section{
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}*/

hr{
  height: 0.188em;
  background: white;
  width: 3.125em;
}
.visible{
display: block;
}
.invisible{
display: none;
}
/**********************************
NAV
***********************************/
.navbar-fjmva {
  background-color: transparent;
  border-color: #e7e7e7;
}
.navbar-fjmva .navbar-brand {
  color: white;
  font-family: 'Bitter', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 40px;
}
.navbar-fjmva .navbar-brand:hover,
.navbar-fjmva .navbar-brand:focus {
  color: #333;
  background-color: transparent;
}
/*.navbar-fjmva .navbar-text {
  color: white;
}*/
.navbar-fjmva .navbar-nav > li > a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
.navbar-fjmva .navbar-nav > li > a:hover,
.navbar-fjmva .navbar-nav > li > a:focus {
  color: black;
  background-color: transparent;
}
.navbar-fjmva .navbar-nav > .active > a,
.navbar-fjmva .navbar-nav > .active > a:hover,
.navbar-fjmva .navbar-nav > .active > a:focus {
  color: #555;
  background-color: floralwhite; /*box on active link*/
}
.navbar-fjmva .navbar-nav > .disabled > a,
.navbar-fjmva .navbar-nav > .disabled > a:hover,
.navbar-fjmva .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-fjmva .navbar-toggle {
  border-color: #f96e5b; /*color of toggle border*/
}
.navbar-fjmva .navbar-toggle:hover,
.navbar-fjmva .navbar-toggle:focus {
 /* background-color: black;*/   /*toggle hover color*/
}
.navbar-fjmva .navbar-toggle .icon-bar {
  background-color: floralwhite;
}
.navbar-fjmva .navbar-collapse,
.navbar-fjmva .navbar-form {
  border-color: floralwhite;  /*#e7e7e7*/
}
.navbar-fjmva .navbar-nav > .open > a,
.navbar-fjmva .navbar-nav > .open > a:hover,
.navbar-fjmva .navbar-nav > .open > a:focus {
  color: black; /*#555*/
  background-color: floralwhite; /*e7e7e7*/
}

#navcollapse ul li a{
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#navcollapse ul li a:hover:before {
  width: 100%;
}
#navcollapse ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: floralwhite;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
/**********************************
ABOUT
***********************************/
.description{
  text-align: center;
  margin: 0 100px;
}
.glyph{
  max-width: 50%;
  height: auto;
}

/**********************************
SKILLS
***********************************/

/**********************************
PORTFOLIO
***********************************/

.galleria{
  width: 100%; height: 600px; background:none;
}

/**********************************
SOCIAL NAV
***********************************/


/**********************************
FOOTER
***********************************/
.social-icons li{
	display: inline-block;
}
footer{
  margin-top: -60px;
  padding-top: 6px;
}


@media (min-width: 768px){
.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}
}
@media (max-width: 991px){
  body p{
    font-size: 1em;
  }
  .description{
    margin: 0 0;
  }
}

h1,h2{
  color: Wheat;
}

#home ul li {
/*  list-style: none;
  display: inline-block;
  margin-left: 100px;
  margin-top: 200px;*/
}